{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // add polyfills for listed browsers only when potential unsupported features are used
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-inline-environment-variables",
    "@babel/plugin-transform-react-jsx",
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
